In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import sys

github_folder_path = r'..'  # Relative path
if github_folder_path not in sys.path:
    sys.path.append(github_folder_path)

In [3]:
from L0_Library.config import *
from L2_Execution.data_compilation import get_data

## Parameters

In [4]:
START_DATE = datetime(2023, 1, 1)
END_DATE = datetime(2023, 12, 31)

## Get Data

In [5]:
data_BAC = get_data(START_DATE, END_DATE, ticker='BAC')

Databento: Prices, Metric & Jumps

Processing: 100%|█████████████████████████████████████████████████| 405/405 [05:01<00:00,  1.34it/s]

StockNewsAPI: News
Clustering: Jumps
Clustering: News
Jumps Classification
Final Compilation

In [6]:
data_AMZN = get_data(START_DATE, END_DATE, ticker='AMZN')

Databento: Prices, Metric & Jumps

Processing: 100%|█████████████████████████████████████████████████| 405/405 [05:03<00:00,  1.34it/s]

StockNewsAPI: News
Clustering: Jumps
Clustering: News
Jumps Classification
Final Compilation

## Explore Data

In [8]:
data_BAC.keys()

dict_keys(['Jumps_Data', 'News_Data', 'Classifier_Data'])

In [15]:
data_BAC["Jumps_Data"].keys()

dict_keys(['prices', 'returns', 'bipower_variation', 'periodicity_bpv', 'jump_scores_bpv', 'jumps_bpv', 'jumps_list_bpv', 'gk_variation', 'periodicity_gk', 'jump_scores_gk', 'jumps_gk', 'jumps_list_gk', 'inter_times_Jump', 'bernoulli_prob', 'bernoulli_threshold', 'clustered_Jump', 'clustered_Jump_list'])

In [16]:
data_BAC["Jumps_Data"]["jumps_list_bpv"]

                     Jump
Date       Hour
2023-01-03 14:45:00     1
2023-01-04 14:25:00     1
2023-01-05 13:20:00     1
2023-01-13 09:59:00     1
           10:01:00     1
...                   ...
2023-12-20 15:10:00     1
           15:15:00     1
2023-12-22 14:05:00     1
2023-12-26 15:25:00     1
2023-12-27 14:00:00     1

[127 rows x 1 columns]

In [17]:
data_BAC["Classifier_Data"]["jumps_news_related"]

          Date Hour_Jump Hour_News  News_Related
0   2023-01-03  14:45:00       NaN             0
1   2023-01-04  14:25:00       NaN             0
2   2023-01-05  13:20:00       NaN             0
3   2023-01-13  09:59:00  09:47:00             1
4   2023-01-20  13:19:00       NaN             0
..         ...       ...       ...           ...
68  2023-12-20  12:44:00       NaN             0
69  2023-12-20  14:53:00       NaN             0
70  2023-12-22  14:05:00       NaN             0
71  2023-12-26  15:25:00       NaN             0
72  2023-12-27  14:00:00       NaN             0

[73 rows x 4 columns]