In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import sys

github_folder_path = r'..'  # Relative path
if github_folder_path not in sys.path:
    sys.path.append(github_folder_path)

In [3]:
from L0_Library.config import *
from L2_Execution.data_compilation import get_data

## Parameters

In [4]:
START_DATE = datetime(2023, 1, 1)
END_DATE = datetime(2023, 2, 28)

TICKER = 'BAC'

## Get Data

In [5]:
data = get_data(START_DATE, END_DATE, TICKER)

Databento: Prices, Metric & Jumps

Processing: 100%|███████████████████████████████████████████████████| 99/99 [00:51<00:00,  1.93it/s]

StockNewsAPI: News
Clustering: Jumps
Clustering: News (Not ready yet, but printing anyway)
Jumps Classification
Final Compilation

## Explore Data

In [6]:
data.keys()

dict_keys(['Jumps_Data', 'News_Data', 'Classifier_Data'])

In [7]:
data["Classifier_Data"].keys()

dict_keys(['jumps_news_related'])

In [8]:
data["Classifier_Data"]["jumps_news_related"]

          Date Hour_Jump Hour_News  News_Related
3   2023-01-03  14:45:00       NaN             0
4   2023-01-04  12:58:00  12:45:00             1
5   2023-01-04  14:25:00       NaN             0
6   2023-01-04  14:25:00       NaN             0
7   2023-01-04  14:25:00       NaN             0
8   2023-01-13  09:59:00  09:47:00             1
9   2023-01-20  13:19:00       NaN             0
11  2023-01-23  12:08:00       NaN             0
10  2023-01-23  12:08:00       NaN             0
12  2023-01-31  12:49:00       NaN             0
13  2023-02-01  14:00:00       NaN             0
14  2023-02-07  12:36:00       NaN             0
15  2023-02-09  13:25:00       NaN             0
18  2023-02-14  11:30:00       NaN             0
16  2023-02-14  10:11:00       NaN             0
17  2023-02-14  10:11:00       NaN             0
19  2023-02-14  11:30:00       NaN             0